#container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #leftBox,
    #rightBox {
        border: 1px solid black;
        width: 200px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    li {
        /* width: 50%; */
        list-style: none;
        padding: 10px 30px;
        background-color: red;

    }